@font-face {
    font-family: 'Inter';
    src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

*{
    font-family: 'Inter';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: hsl(0, 0%, 8%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

main{
    margin-top: 200px;
    padding: 32px 24px;
    background: hsl(0, 0%, 12%);
    border-radius: 14px;
}

.profile_part{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.profile_part h1{
    font-size: 24px;
    line-height: 150%;
    font-weight: 700;
    letter-spacing: 0px;
}

.profile_part h2{
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0px;
    color: hsl(75, 94%, 57%);
    margin: 10px 0px ;
}

.profile_part p{
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0px;
    margin: 14px 0px ;
}

.profile_part img{
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    border-radius: 100%;
    object-fit: cover;
}

.button_part{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button_part a{
    text-decoration: none;
    text-align: center;
    width: 100%;
    padding: 10px 80px;
    margin-top: 14px;
    border-radius: 6px;
    background-color: hsl(0, 0%, 20%);
    color: white;
    font-weight: bolder;
}

.button_part a:hover{
    background-color:hsl(75, 94%, 57%) ;
    color: hsl(0, 0%, 20%);
}

footer
{
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}



